package controllers

import (
	"github.com/gofiber/fiber/v3"
)

type {{.ControllerName}} struct {
}

func New{{.ControllerName}}() *{{.ControllerName}} {
	return &{{.ControllerName}}{}
}

func (controller *{{.ControllerName}}) List(c fiber.Ctx) error {
	return c.Status(fiber.StatusOK).JSON(fiber.Map{
		"": "",
	})
}

func (controller *{{.ControllerName}}) Get(c fiber.Ctx) error {
	return c.Status(fiber.StatusOK).JSON(fiber.Map{
        "": "",
    })
}

func (controller *{{.ControllerName}}) Create(c fiber.Ctx) error {
	return c.Status(fiber.StatusCreated).Send([]byte{})
}

func (controller *{{.ControllerName}}) Update(c fiber.Ctx) error {
	return c.Status(fiber.StatusCreated).Send([]byte{})
}

func (controller *{{.ControllerName}}) Delete(c fiber.Ctx) error {
	return c.Status(fiber.StatusNoContent).Send([]byte{})
}
